#gameContainer {
  &.is-countdown {
    background-color: $sky;
    color: white;
  }
  .countdown-logo {
    width: 180px;
  }
}

#countdownDigit {
  min-height: 140px;
  min-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 120px;
    animation-delay: .3s;
    animation-duration: .65s;
  }
}